<?xml version="1.0"?>
<robot name="mec_bot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Incluye los xacro de módulos -->
  <xacro:include filename="$(find mec_bot_description)/urdf/body.urdf.xacro"/>
  <xacro:include filename="$(find mec_bot_description)/urdf/wheel.urdf.xacro"/>
  <xacro:include filename="$(find mec_bot_description)/urdf/mec_bot_gazebo.urdf.xacro"/>

    <!-- Include ros2_control Plugins -->
  <xacro:include filename="$(find mec_bot_description)/urdf/mec_control.xacro" />

  <!-- Propiedades generales -->
  <xacro:property name="wheel_radius" value="0.0485"/>
  <xacro:property name="use_sim" value="true"/>
  <xacro:property name="mecanum" value="true"/>

  <!-- Instancia el cuerpo del robot -->
  <xacro:body wheel_radius="${wheel_radius}"/>

  <!-- Instancia las 4 ruedas mecanum -->
  <xacro:wheel wheel_radius="${wheel_radius}" side="fl" mecanum="${mecanum}" use_sim="${use_sim}"/>
  <xacro:wheel wheel_radius="${wheel_radius}" side="fr" mecanum="${mecanum}" use_sim="${use_sim}"/>
  <xacro:wheel wheel_radius="${wheel_radius}" side="rl" mecanum="${mecanum}" use_sim="${use_sim}"/>
  <xacro:wheel wheel_radius="${wheel_radius}" side="rr" mecanum="${mecanum}" use_sim="${use_sim}"/>

  
  <!-- IMU -->
  <link name="imu_link">
    <inertial>
      <origin xyz="-0.00552433659106688 0.000168210391520346 0.000514000497342681" rpy="0 0 0" />
      <mass value="0.000528415362211671" />
      <inertia ixx="1.46176048428261E-08" ixy="1.40015117949421E-10" ixz="-1.99633872937403E-12"
               iyy="8.59662482954888E-09" iyz="7.52375112767959E-12"
               izz="2.30279421279312E-08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mec_bot_description/meshes/imu_link.STL" />
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mec_bot_description/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="imu_joint" type="fixed">
    <origin xyz="0 0 0.0698986241758014" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="imu_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- LIDAR -->
  <link name="laser_link">
    <inertial>
      <origin xyz="-0.011945780406062 -0.000381929217680526 -0.0170649378129477" rpy="0 0 0" />
      <mass value="0.073084435549317" />
      <inertia ixx="1.96074931730795E-05" ixy="-3.62091076640009E-07" ixz="4.28230084046735E-07"
               iyy="2.40983835136327E-05" iyz="1.50180909250652E-08"
               izz="4.14184164228595E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mec_bot_description/meshes/laser_link.STL" />
      </geometry>
      <material name="dark_grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mec_bot_description/meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="laser_joint" type="fixed">
    <origin xyz="-0.0050526 -0.0023221 0.1508" rpy="0 0 3.14" />
    <parent link="base_link" />
    <child link="laser_link" />
    <axis xyz="0 0 0" />
  </joint>



</robot>
